@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url(https://allfont.ru/allfont.css?fonts=comic-sans-ms);
*{
    margin: 0;
}
body{
    background: #2A0808;
    font-family: "Roboto", sans-serif;
    text-align: left;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
.active{
    color: #FFC500;
}
.desktop-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
}
.logo-icon{
    width: 50px;
    height: 50px;
    margin-right: 12px;
}
.logo{
    display: flex;
    align-items: center;
}
.header-link{
    font-size: 20px;
    margin-left: 5%;
}
.header-links{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.text-logo{
    color: white;
}
.main-text{
    color: white;
    width: 600px;
    font-size: 18px;
}
.main-line{
    width: 100%;
    margin-bottom: 1.5%;
}
.title-text{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.desktop-main{
    display: flex;
    padding-top: 10%;
    justify-content: flex-end;
}
.main-content{
    display: flex;
    justify-content: flex-end;
    height: auto;
}
.main-content__wrapper{
    width: 80%;
}
.points{
    width: 100%;
    height: 100%;
}
.wrapper-points{
    width: 20%;
    height: 600px;
}
  .footer__container {
    padding-top: 40px;
    margin-left: 90px;
  }
  .footer__inner {
    position: absolute;
    width: 683px;
    height: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 60px;
    right: 90px;
  }
  .footer .two {
    margin-left: 135px;
    margin-right: 98px;
  }
  .footer__header {
    font-weight: 500;
    font-size: 33px;
    line-height: 39px;
    color: #FFFFFF;
  }
  .footer__link {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 21px;
  }
  .footer .unique {
    margin-left: 20px;
  }

  .desktop-footer{
    padding: 20px 4%; 
    padding-top: 35px;
    border-top: 1px solid white;
  }
  .copyright{
    color: white
  }
  .footer__row-first{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .first{
    margin-right: 12px;
  }
  .footer__row-second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
  }
  .footer-links{
    display: flex;
  }
  .footer-link{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    transition: 0.2s;
  }
  .footer-title{
    margin: 0;
    margin-bottom: 6px;
    color: white;
    font-size: 22px;
    font-weight: 500;
  }
  .footer-icons{
    display: flex;
  
  }
  .footer-card{
    margin-right: 60px;
  }
  .footer-card:last-child{
    margin-right: 0;
  }
  .footer-icon{
    width: 40px;
    height: 40px;
  }
  .wrapper-body{
    max-width: 1347px;
    width: 100%;
  }
  body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }