<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boozecoin</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
</head>
<body>
<section class="header">
    <header class="desctop-header">
        <nav class="header__nav">
            <ul class="header__first-btns">
                <li class="booz-it-up"><a class="header__link" href="{% url 'booz-it-up' %}">Booz it up</a></li>
                <li><a class="header__link" href="{% url 'what-is-boozecoin' %}">What is Boozecoin?</a></li>
            </ul>
            <a href="#">
                <div class="header__title">
                    <img src="/static/img/header-logo.png" alt="logo" class="header__logo">
                    <h3 class="text-logo">BOOZECOIN</h3>
                </div>
            </a>
            <ul class="header__last-btns">
                <li><a class="header__link" href="{% url 'guide' %}">Guide</a></li>
                <li><a class="header__link" href="{% url 'faq' %}">FAQ</a></li>
                <li><a class="header__btn-border" href="#">Subscribe</a></li>
                <li><a class="header__btn-border" href="{% url 'get-booze' %}">Get Booze</a></li>
            </ul>
        </nav>
    </header>
</section>
<section class="present">
    <div class="present__title">HOW TO GET BZC</div>
    <div class="present__wrapper">
        <div class="present__left">
            <div class="present__elem">
                <div class="present__header">1. CREATE A WALLET</div>
                <div class="present__subheader">Download and Install <a href="https://metamask.io/">Metamask</a> . Follow the instructions for installation</div>
            </div>
            <div class="present__elem">
                <div class="present__header">2. CONFIGURE NETWORK</div>
                <div class="present__subheader">
                    <ol>
                        <li>Open Metamask wallet</li>
                        <li>Switch to "Smart Chain" network</li>
                        <li>Go to settings and tap "Networks"</li>
                        <li>Tap "Add Network" and type as follow:</li>
                    </ol>
                </div>
            </div>
            <div class="present__elem">
                <div class="present__header">Network Name</div>
                <div class="present__subheader">Smart Chain</div>
            </div>
            <div class="present__elem">
                <div class="present__header">RPC Url</div>
                <div class="present__subheader">https://bsc-dataseed.binance.org</div>
            </div>
            <div class="present__elem">
                <div class="present__header">Chain ID</div>
                <div class="present__subheader">56</div>
            </div>
            <div class="present__elem">
                <div class="present__header">Symbol</div>
                <div class="present__subheader">BNB</div>
            </div>
            <div class="present__elem">
                <div class="present__header">3. ADD BZC</div>
                <div class="present__subheader">
                    <ol>
                        <li>Click "+ Add Tokens"</li>
                        <li>Paste "BZC" contract address at "Token Address Window"</li>
                        <li>BZC will appear automatically</li>
                        <li>Click "Add Tokez</li>
                    </ol>
                </div>
            </div>
            <div class="present__elem">
                <div class="present__header">BZC CONTRACT ADDRESS</div>
                <div class="present__subheader">0x65debbf761b1f763dbb28ee924984ca3a95c1285</div>
            </div>
            <div class="present__elem">
                <div class="present__header">4. SWAP FOR BZC</div>
                <div class="present__subheader">
                    <ol>
                        <li>You will need BNB or other coins supported by "Metamask" in your wallet to swap it for "BZC". Buy BNB</li>
                        <li>At main menu (Metamask) tap "Swap"</li>
                        <li>Enter BNB amount to swap for "BZC"</li>
                        <li>Click "Get Quotes"</li>
                        <li>Slide to "Confirm</li>
                    </ol>
                </div>
            </div>
            <div class="present__elem">
                <div class="present__header">5. "BZC" WILL APPEAR IN YOUR METAMASK WALLET</div>
            </div>
        </div>
        <div class="present__right">
            <img src="https://thumb.tildacdn.com/tild3564-3764-4961-b937-666665333937/-/resize/560x/-/format/webp/noroot.png" data-original="https://static.tildacdn.com/tild3564-3764-4961-b937-666665333937/noroot.png" imgfield="img" class="t226__img t-img loaded">
        </div>
        <div class="present__right right">
            <img src="https://thumb.tildacdn.com/tild3266-6439-4530-b565-666531666162/-/format/webp/IMG_3337.PNG" data-original="https://static.tildacdn.com/tild3266-6439-4530-b565-666531666162/IMG_3337.PNG" imgfield="img" class="image">
        </div>

    </div>
    <a href="https://pancakeswap.finance/swap#/swap?inputCurrency=0x65debbf761b1f763dbb28ee924984ca3a95c1285" class="present__button">Buy</a>
</section>

<div class="delimiter"></div>
<footer class="footer">
    <div class="footer__container">
        <div class="footer__inner">
            <div class="footer__item">
                <div class="footer__header">About</div>
                <a href="#" class="footer__link">The team</a>
            </div>
            <div class="footer__item two">
                <div class="footer__header">Follow Us</div>
                <a href="#" class="footer__link">Twitter</a>
                <a href="#" class="footer__link unique">Facebook</a>
            </div>
            <div class="footer__item">
                <div class="footer__header">Get the app</div>
                <a href="#" class="footer__link">Androind</a>
                <a href="#" class="footer__link unique">IOS</a>
            </div>
        </div>
        <div class="footer__wrapper">
            <div class="footer__end">© All rights reserved</div>
            <div class="footer__social-items">
                <div class="social-item"><img src="/static/img/twitter.svg" alt="social-item"></div>
                <div class="social-item"><img src="/static/img/telegram.svg" alt="social-item"></div>
                <div class="social-item"><img src="/static/img/social.svg" alt="social-item"></div>
                <div class="social-item"><img src="/static/img/instagram.svg" alt="social-item"></div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>