<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boozecoin</title>
    <link rel="stylesheet" href="/static/css/get-booz.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="wrapper-body">
    <header class="desctop-header">
        <nav class="header__nav">
            <ul class="header__first-btns" style="margin-top: 1%;">
                <li class="booz-it-up"><a class="header__link" href="{% url 'booz-it-up' %}">Booz it up</a></li>
                <li><a class="header__link" href="{% url 'what-is-boozecoin' %}">What is Boozecoin?</a></li>
            </ul>
            <a href="index.html">
                <div class="header__title">
                    <img src="/static/img/black-dog.png" alt="logo" class="header__logo">
                    <h3 class="text-logo">BOOZECOIN</h3>
                </div>
            </a>
            <ul class="header__last-btns" style="margin-top: 1%;">
                <li><a class="header__link" href="{% url 'guide' %}">Guide</a></li>
                <li><a class="header__link" href="{% url 'faq' %}">FAQ</a></li>
                <li><a class="header__btn-border" href="#">Subscribe</a></li>
                <li><a class="header__btn-border" href="{% url 'get-booze' %}">Get Booze</a></li>
            </ul>
        </nav>
    </header>
    <section class="get-booz-section">
        <h1 class="title-text-get-booz">HOW TO GET BZC</h1>
        <div class="wrapper-content-get-booz">
        <div class="content-get-booz">
        <div class="list">
            <h2 class="title-list">1. CREATE A WALLET</h2>
            <h3 class="description-list-get-booz">Download and Install <a class="metamask" href="https://metamask.io/">Metamask</a>. Follow the instructions for installation</h3>
        </div>
        <div class="list">
            <h2 class="title-list">2. CONFIGURE NETWORK</h2>
            <ol class="ol-get-booz">
                <li class="li-get-booz">Open Metamask wallet</li>
                <li class="li-get-booz">Switch to "Smart Chain" network</li>
                <li class="li-get-booz">Go to settings and tap "Networks"</li>
                <li class="li-get-booz">Tap "Add Network" and type as follow:</li>
            </ol>
        </div>
        <div class="list">
            <h2 class="title-list">Network Name</h2>
            <h3 class="description-list-get-booz">Smart Chain</h3>
        </div>
        <div class="list">
            <h2 class="title-list">RPC Url</h2>
            <h3 class="description-list-get-booz">https://bsc-dataseed.binance.org</h3>
        </div>
        <div class="list">
            <h2 class="title-list">Chain ID</h2>
            <h3 class="description-list-get-booz">56</h3>
        </div>
        <div class="list" style="margin-bottom: 30%;">
            <h2 class="title-list">Symbol</h2>
            <h3 class="description-list-get-booz">BNB</h3>
        </div>



        <div class="list">
            <h2 class="title-list">3. ADD BZC</h2>
            <ol class="ol-get-booz">
                <li class="li-get-booz">Click "+ Add Tokens"</li>
                <li class="li-get-booz">Paste "BZC" contract address at "Token Address Window"</li>
                <li class="li-get-booz">BZC will appear automatically</li>
                <li class="li-get-booz">Click "Add Tokez</li>
            </ol>
        </div>
        <div class="list">
            <h2 class="title-list">BZC CONTRACT ADDRESS</h2>
            <h3 class="description-list-get-booz">0x65debbf761b1f763dbb28ee924984ca3a95c1285</h3>
        </div>
        <div class="list">
            <h2 class="title-list">4. SWAP FOR BZC</h2>
            <ol class="ol-get-booz">
                <li class="li-get-booz">You will need BNB or other coins supported by "Metamask" in your wallet to swap it for "BZC". Buy BNB</li>
                <li class="li-get-booz">At main menu (Metamask) tap "Swap"</li>
                <li class="li-get-booz">Enter BNB amount to swap for "BZC"</li>
                <li class="li-get-booz">Click "Get Quotes"</li>
                <li class="li-get-booz">Slide to "Confirm</li>
            </ol>
        </div>
        <div class="list">
            <h2 class="title-list">5. "BZC" WILL APPEAR IN YOUR METAMASK WALLET</h2>
            <a class="btn-get-booz" href="">Buy</a>
        </div>
        </div>
        <div class="images-get-booz">
            <img class="img-get-booz-1" src="/static/img/back1.webp" alt="">
            <img class="img-get-booz-2" src="/static/img/back2.PNG" alt="">
        </div>
        </div>
    </section>
    <div class="wrapper-footer">
        <footer class="desktop-footer">
            <div class="footer__row-first">
                <div class="footer-links">
                    <div class="footer-card">
                        <h4 class="footer-title">About</h4>
                        <a class="footer-link" href="{% url 'about' %}">The team</a>
                    </div>
                    <div class="footer-card">
                        <h4 class="footer-title">Follow Us</h4>
                        <div class="row-footer-link">
                            <a class="footer-link first" href="#">Twitter</a>
                            <a class="footer-link" href="#">facebook</a>
                        </div>
                    </div>
                    <div class="footer-card">
                        <h4 class="footer-title">Get the up</h4>
                        <div class="row-footer-link">
                            <a class="footer-link first" href="#">Android</a>
                            <a class="footer-link" href="#">IOS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__row-second">
                <h5 class="copyright">© All rights reserved</h5>
                <div class="footer-icons">
                    <a href="#"><img class="footer-icon" src="/static/img/telega-desk.png" alt=""></a>
                    <a href="#"><img class="footer-icon" src="/static/img/ic2.svg" alt=""></a>
                    <a href="#"><img class="footer-icon" src="/static/img/twiiter-desk.png" alt=""></a>
                    <a href="#"><img class="footer-icon" src="/static/img/ic4.svg" alt=""></a>
                </div>
            </div>
        </footer>
</div>
</div>
</body>
</html>
